h1 {
	font-family: 'lora', serif;
	margin-top: 30px;
	color: #fff;
}
* {
	box-sizing: border-box;
	
}
div#mnm {
	background-color: gray;
}
    
#header-nav {
	background-color: #555
}
#main-content {
	background-color: #222;
	color: #fff;	
	height: 1000px;
	font-style: italic;
}
div.row {
	margin-bottom: 15px;
	background: #222;
	padding: 25px;
	float: right;
	margin-left: 5px;
}
div.container {
	position: relative;
}
div.navbar-header {
	position: static;
}
div.container > div.navbar-header button.navbar-toggler {
	position: absolute;
	top: 85px;
	right: 15px;
    background-color: #fff;
    border: 2px solid black;
}
ul.navbar-nav {
	float: right;	
	width: 100%;
}
li.nav-item {
	text-transform: uppercase;
	background: #eee;
	border: 1px solid black;
	font-family: 'oxygen', sans-serif;
}
div.container > div.navbsr-header button.navbar-toggler:hover {
	background-color: #000;
}
a.nav-link:link {
	color: #00005B;
}
